@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: linear-gradient( 95.2deg, rgba(173,252,234,1) 26.8%, rgba(192,229,246,1) 64% );
  --text-color: #0b1a24;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: linear-gradient(to bottom, #221144, #6633BB);
    --text-color: #f8fafc
  }
}

body {
  color: var(--text-color);
  background-image: var(--background);
  min-height: 100dvh;
  max-width: 100dvw;
}

img {
  mask-image: linear-gradient(
    black 70%,
    transparent
  );
}

.button-filters {
  @apply dark:bg-purple-emperor dark:text-sulphur bg-pecan text-purple-emperor text-xs
}

.button-filters.active {
  @apply dark:bg-sulphur dark:text-purple-emperor bg-purple-emperor text-pecan text-xs font-bold
}